

.hidden {
  display: none;
}

body {
  background-color: #efe2ba;
  padding: auto;
  margin: auto;
}

header {
  text-align: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

main {
  text-align: center;
}

.footer {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin: 10px;
  margin-bottom: 10px;
  background-color: #f13c20;
  font-size: 30px;
  font-family: "Share Tech Mono", monospace;
  color: #d79922;
}

h1 {
  margin: 20px;
  background-color: #f13c20;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  pad: 100%;
  text-align: center;
}

.startpage {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 15px;
  background-color: #f13c20;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  pad: 100%;
}

form {
  margin-bottom: 10px;
  background-color: #f13c20;
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

p {
  font-family: "Share Tech Mono", monospace;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.begin {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  color: #d79922;
}

.submitbuttonlabel {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  color: #d79922;
}

.nex {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  color: #d79922;
}

.playagain {
  font-family: "Share Tech Mono", monospace;
  font-size: 30px;
  color: #d79922;
}

.result {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  background-color: #f13c20;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  pad: 100%;
}

.nextpage {
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 10px;
  background-color: #f13c20;
  font-size: 40px;
  font-family: "Share Tech Mono", monospace;
  pad: 100%;
}

@media all and (max-width: 600px) {
  h2 {
    font-size: 20px;
  }
}
